Flask==2.0.1 // For web framework
Flask-Migrate==3.1.0 // For migration
Flask-SQLAlchemy==2.5.1 // For database ORM 
psycopg2-binary==2.9.1 // For database 
Werkzeug==2.0.1 // For hashing password
PostgerSQL==13.4 // For database
python == 3.8+
opencv-python==4.5.3.56 // For image processing
face_recognition==1.3.0 // For face recognition
numpy==1.21.1 // For array processing
Pillow==8.3.1 // For image processing
nltk==3.6.2 // For natural language processing
dialogflow==1.1.0 // For chatbot